* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: lightblue;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper .col1 {
    width: 15%;
    width: 100%;
}

.col1 nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 50px;
    padding-bottom: 0;
}

.wrapper .vNav img {
    width: 100px;
    height: 43.5px;
}

a {
    text-decoration: none;
}

.vNav a {
    font-size: 20px;
    font-family: sans-serif;
}

.vNav .menuIcons {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: linear-gradient(90deg, #8da0c2 0%, #f0f5ff 50%, #6a7b9a 100%);
    width: 200px;
    height: 70px;
}

.vNav .menuIcons:hover {
    background: linear-gradient(180deg, #292929 0%, #f5f5f5 50%, #292929 100%);
}


.vNav .menuIcons .active {
    color: red;
}

.vNav .menuIcons .pending {
    color: blue;
}

.silver-bg-shadow {
    box-shadow: 0px 10px 13px -7px #000000, 13px 13px 15px 2px rgba(58, 58, 58, 0);
    background: linear-gradient(90deg, #8da0c2 0%, #f0f5ff 50%, #6a7b9a 100%);
}


.bronse-bg-shadow {
    background: linear-gradient(180deg, #292929 0%, #f5f5f5 50%, #292929 100%);
}

.logo {
    border-radius: 15px;
    width: 220px;
    height: 150px;
}

.select-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.select-search {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(91, 132, 170);
    width: 200px;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    height: 70px;
}

.wrapper .col2 {
    width: 100%;
    height: 80%;
    flex: 1;
    padding: 20px;
    border-radius: 15px;
}

.col2 h2 {
    font-style: italic;
    font-family: sans-serif;
    padding: 0 15px;
}



.vNav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
}



.link {
    cursor: pointer;
    color: blueviolet;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.link:hover {
    color: red;
}

a:hover {
    color: red;
    transition: .3s;
}

img:hover {
    color: red;
}

.wrapper .dd-col2 {
    /* width: 80%; */
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 1;
    gap: 10px;
}

.wrapper .dd-col2 .results .race-column {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.wrapper .dd-col2 .results .down {
    color: red;
    font-size: 13px;
}

.wrapper .dd-col2 .results .up {
    color: green;
    font-size: 13px;
}

.details {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    background-color: #8da0c2cc;
    /*cc = 80% opacity*/
}

.rd-details {
    padding: 5px;
}

.results {
    background-color: #8da0c2cc;
    /*cc = 80% opacity*/

    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    padding: 5px 20px;
    border-radius: 15px;
}

.results .no-data-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.results .no-data-div img {
    width: 500px;
}

.results h2 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.rd-results h2 {
    font-size: 20px;
}


.table-container {
    overflow-x: auto;
    width: 100%;
}


table {
    border-collapse: collapse;
    background-color: lightcyan;
    width: 100%;
    min-width: 700px;
    border-radius: 10px;
}

.results th {
    background-color: lightblue;
}

.results th,
td {
    text-align: left;
    border: 1px solid linear-gradient(90deg, #8da0c2 0%, #f0f5ff 50%, #6a7b9a 100%);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
}

.flag {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
/* 
.rd-results th {
    white-space: nowrap;
    overflow: hidden;
} */

tr:nth-child(even) {
    background-color: #f2f2f2;
}


.breadcrumbs-wrapper .home,
.middle,
.last {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0;
    font-size: 12px;
}

.breadcrumbs-wrapper .last {
    background-color: cyan;
}

#bg-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.HamburgerMenu {
    position: absolute;
    left: 1%;
    top: 1%;
    cursor: pointer;
    border-radius: 5px;
}


.results,
.rd-results {
    width: 100%;
}

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8da0c2cc;
    /*cc = 80% opacity*/
    padding: 1rem;
}

#loader-video {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.driver-img{
    width: 150px;
}

.driver-flag{
    padding: 5px;
    text-align: left;
}

@media screen and (max-width: 768px) {


    .wrapper {
        flex-direction: column;
    }

    .col1 nav {
        display: flex;
        flex-direction: column;
    }

    .vNav ul {
        display: flex;
        flex-direction: column;
    }


    .wrapper .dd-col2 {
        flex-direction: column;
    }


    .results .no-data-div img {
        width: 350px;
    }

     th,td {
        font-size: 12px;
        padding: 4px;
    }
}